---
import VideoScroll from "../components/VideoScroll.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section
      id="video-container"
      class="fixed top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 h-fit w-screen max-w-[1400px] flex items-center justify-center bg-black z-10"
    >
      <div
        class="absolute left-2 w-1/2 flex flex-col justify-center items-center p-5 h-full z-20"
      >
        <h1 class="font-sans tilt-neon">
          Hi there! Welcome to FacuDev's portfolio.
        </h1>
        <p class="text-gradient w-[80%] text-center text-2xl">
          I'm a fullstack developer student, passionate about building and
          learning new things every day. I always put my best effort into taking
          my applications to the next level, striving for creativity and
          excellence in every project. My goal is to craft not just functional,
          but also meaningful and engaging experiences.
        </p>
      </div>
      <div class="video-gradient"></div>
      <VideoScroll />
    </section>

    <section class="relative min-h-screen flex justify-center bg-black z-0">
    </section>

    <section
      class="relative h-screen flex justify-center bg-black z-30 pt-[200px] shadow-custom"
    >
      <div class="text-center">
        <h2 class="text-white text-4xl">Hola amigo! jaja</h2>
        <p class="text-white text-xl">Ta quedando piola parece!</p>
      </div>
    </section>
    <section
      class="h-screen flex justify-center bg-slate-900 z-30 pt-[200px] shadow-custom"
    >
      <div class="text-center">
        <h2 class="text-white text-4xl">Hola amigo! jaja</h2>
        <p class="text-white text-xl">Ta quedando piola parece!</p>
      </div>
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .shadow-custom {
    box-shadow: rgb(0, 0, 0) 0px -50px 30px;
  }
  .video-gradient {
    position: absolute;
    background: linear-gradient(to top, black, transparent);
    bottom: -100px;
    left: 0;
    width: 100%;
    height: 100%;
  }
  h1 {
    font-size: 4rem;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
