---
import Presentation from "../components/Presentation.astro";
import VideoScroll from "../components/VideoScroll.astro";
import Layout from "../layouts/Layout.astro";
import SkillCard from "../components/SkillCard.astro";
import IconWrapper from "../components/IconWrapper.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section
      id="video-container"
      class="fixed top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 w-screen max-w-[1400px] flex items-center justify-center bg-red-400 z-10"
    >
      <div
        class="absolute left-2 w-1/2 flex flex-col justify-center items-center p-5 h-full z-20"
      >
        <Presentation />
      </div>
      <div class="video-gradient"></div>
      <VideoScroll />
    </section>

    <section class="relative min-h-screen flex justify-center bg-black z-0">
    </section>

    <section
      class="relative min-h-screen flex justify-center bg-black z-30 pt-[100px] shadow-custom"
    >
      <div id="skills-container" class="text-center pb-[200px]">
        <SkillCard title="Skills" subTitle="Skills I use everyday">
          <IconWrapper
            skill="HTML"
            iconName="HtmlIcon"
            isInLove="true"
            trainingLevel={8}
          />
          <IconWrapper
            skill="CSS"
            iconName="CssIcon"
            isInLove="true"
            trainingLevel={7}
          />
          <IconWrapper
            skill="Tailwind"
            iconName="TailwindIcon"
            isInLove="true"
            trainingLevel={7}
          />
          <IconWrapper
            skill="JavaScript"
            iconName="JavaScriptIcon"
            isInLove="true"
            trainingLevel={10}
          />
          <IconWrapper
            skill="React"
            iconName="ReactIcon"
            isInLove="true"
            trainingLevel={9}
          />
          <IconWrapper
            skill="Node"
            iconName="NodeIcon"
            isInLove="true"
            trainingLevel={7}
          />
          <IconWrapper
            skill="MySQL"
            iconName="MysqlIcon"
            isInLove="true"
            trainingLevel={7}
          />
        </SkillCard>
        <SkillCard title="Stack" subTitle="Technologies I use">
          <IconWrapper
            skill="VS Code"
            iconName="VsCodeIcon"
            isInLove="true"
            trainingLevel={9}
          />
          <IconWrapper
            skill="Git"
            iconName="GitColoredIcon"
            isInLove="true"
            trainingLevel={8}
          />
          <IconWrapper
            skill="NPM"
            iconName="NpmIcon"
            isInLove="true"
            trainingLevel={7}
          />
          <IconWrapper
            skill="Docker"
            iconName="DockerIcon"
            isInLove="true"
            trainingLevel={5}
          />
          <IconWrapper
            skill="VirtualBox"
            iconName="VirtualBoxIcon"
            isInLove="true"
            trainingLevel={6}
          />
          <IconWrapper
            skill="Linux"
            iconName="LinuxIcon"
            isInLove="true"
            trainingLevel={4}
          />
          <IconWrapper
            skill="Figma"
            iconName="FigmaIcon"
            isInLove="false"
            trainingLevel={5}
          />
        </SkillCard>
        <SkillCard
          title="Touching"
          subTitle="Technologies I'm learn and/or testing"
        >
          <IconWrapper
            skill="Next.js"
            iconName="NextJsIcon"
            isInLove="true"
            trainingLevel={7}
          />
          <IconWrapper
            skill="Angular"
            iconName="AngularIcon"
            isInLove="false"
            trainingLevel={5}
          />
          <IconWrapper
            skill="Vue.js"
            iconName="VueJsIcon"
            isInLove="false"
            trainingLevel={3}
          />
          <IconWrapper
            skill="Astro"
            iconName="AstroIcon"
            isInLove="true"
            trainingLevel={4}
          />
          <IconWrapper
            skill="Symfony"
            iconName="SymfonyIcon"
            isInLove="false"
            trainingLevel={5}
          />
          <IconWrapper
            skill="PHP"
            iconName="PhpIcon"
            isInLove="false"
            trainingLevel={6}
          />
          <IconWrapper
            skill="Apache"
            iconName="ApacheIcon"
            isInLove="false"
            trainingLevel={6}
          />
          <IconWrapper
            skill="Prisma"
            iconName="PrismaIcon"
            isInLove="false"
            trainingLevel={5}
          />
          <IconWrapper
            skill="Firebase"
            iconName="FireBaseIcon"
            isInLove="false"
            trainingLevel={3}
          />
          <IconWrapper
            skill="Python"
            iconName="PythonIcon"
            isInLove="true"
            trainingLevel={4}
          />
          <IconWrapper
            skill="Java"
            iconName="JavaIcon"
            isInLove="false"
            trainingLevel={2}
          />
          <IconWrapper
            skill="Arduino"
            iconName="ArduinoIcon"
            isInLove="true"
            trainingLevel={4}
          />
        </SkillCard>
      </div>
    </section>
    <section
      class="h-screen flex justify-center bg-slate-900 z-30 pt-[50px] shadow-custom"
    >
      <div class="text-center">
        <h2 class="sub-title text-white text-4xl">Projects</h2>
      </div>
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  h2.sub-title {
    font-family: "Royal Fight", serif;
  }
  .shadow-custom {
    box-shadow: rgb(0, 0, 0) 0px -50px 30px;
  }
  .video-gradient {
    position: absolute;
    background: linear-gradient(to top, black, transparent);
    bottom: -100px;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .h1-welcome span {
    text-shadow:
      2px 2px 1px rgb(195, 99, 255),
      2px -1px 1px rgb(195, 99, 255),
      -1px 1px 1px rgb(195, 99, 255),
      -1px -1px 1px rgb(195, 99, 255);
  }
</style>
