---
import type { skillsType } from "../types";

const { skill, iconName, isInLove } = Astro.props as skillsType;
let SvgIcon;
try {
  SvgIcon = (await import(`../components/icons/${iconName}.astro`)).default;
} catch (e) {
  console.error(`Error importing SVG icon: ${iconName}`, e);
}
---

<div class="group flex flex-col items-center relative h-10">
  <span data-is-in-love={isInLove} id="hearts" class="hearts flex flex-col"
  ></span>
  {SvgIcon && <SvgIcon />}
  {
    skill && (
      <div class="font-semibold text-nowrap text-sm hidden group-hover:block transition-all duration-300 ease-in-out absolute top-[100%] z-20 bg-black p-1 rounded-lg">
        <p>{skill}</p>
      </div>
    )
  }
</div>

<style>
  .heart {
    position: absolute;
    bottom: 50px;
    font-size: 24px;
    animation: heart-animation 1s ease-in-out forwards;
  }

  @keyframes heart-animation {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    50% {
      opacity: 1;
      transform: translateY(-20px);
    }
    100% {
      opacity: 0;
      transform: translateY(-30px);
    }
  }
</style>
