---
import type { IconName } from "../components/icons/icon-names";

interface Props {
  skill: string;
  iconName: IconName;
  loveLevel: 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10;
}

const { skill, iconName, loveLevel } = Astro.props;
let SvgIcon;
try {
  SvgIcon = (await import(`../components/icons/${iconName}.astro`)).default;
} catch (e) {
  console.error(`Error importing SVG icon: ${iconName}`, e);
}
---

<div class="group flex flex-col items-center relative">
  <span data-love-level={loveLevel} id="hearts" class="hearts flex flex-col"
  ></span>
  {SvgIcon && <SvgIcon />}
  <p
    class="font-semibold text-nowrap text-sm opacity-0 group-hover:opacity-100 transition-all duration-300 ease-in-out absolute top-full"
  >
    {skill}
  </p>
</div>
<style>
  .heart {
    position: absolute;
    font-size: 24px;
    animation: heart-animation 1s ease-in-out forwards;
  }

  @keyframes heart-animation {
    0% {
      opacity: 1; /* Comienza visible */
      transform: translateY(0); /* Posici칩n inicial */
    }
    50% {
      opacity: 1; /* Mantiene la opacidad a la mitad de la animaci칩n */
      transform: translateY(-20px); /* Sube el coraz칩n */
    }
    100% {
      opacity: 0; /* Desaparece al final */
      transform: translateY(-30px); /* Se eleva un poco m치s */
    }
  }
</style>
