---
import { myDescription } from "../data/myDescription";
import { getLangFromUrl } from "../i18n/utils";
import ContactIcons from "./ContactIcons.astro";

const lang = getLangFromUrl(Astro.url);
---

<div
  class="h-full w-[80vw] lg:w-[40vw] select-none flex flex-col items-start justify-center gap-5"
>
  <div class="message-description hidden text-center lg:text-left">
    <h1 class="facudev-title text-[5rem] sm:text-[7rem]">Facundo Botta</h1>
    <p class="text-primary-magenta text-3xl">
      <span class="text-primary-cyan/70">as</span> FacuDev
    </p>
    <p
      class="w-full pr-5 opacity-70 text-center lg:text-left lg:text-balance text-[1.4rem] mt-7"
    >
      {myDescription[lang]}
    </p>
    <ContactIcons />
  </div>
</div>

<script>
  const messageDescription = document.querySelector(".message-description");
  window.addEventListener("load", () => {
    messageDescription?.classList.add("animate-facuDev");
  });
</script>
<style>
  .animate-message {
    animation: fadeOut 1s forwards;
  }
  .animate-facuDev {
    display: inline-block;
    animation: fadeInFacuDev 1s forwards;
  }
  h1.facudev-title {
    font-family: "Fifties Condensed", serif;
    font-weight: bold;
    line-height: 1;
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fadeInFacuDev {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .text-gradient {
    text-align: left;
    background-image: var(--description-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100%;
    background-position: 0%;
  }
</style>
<!-- 
TODO:
"GO TO ACTION" 
open to work
-->
