---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { getLangFromUrl } from "../i18n/utils";

interface Props {
  title: string;
}

const { title } = Astro.props;

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>FacuDev porfolio</title>
  </head>
  <body class="relative h-full w-full bg-black">
    <div
      class="absolute -z-10 bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)]"
    >
    </div>
    <Header />
    <slot />
    <Footer />
  </body>

  <style is:global>
    @font-face {
      font-family: "Helvetica";
      src: url("/fonts/Helvetica.ttf") format("truetype");
      font-style: normal;
      font-weight: normal;
    }
    @font-face {
      font-family: "Fifties";
      src: url("/fonts/VVDS-Fifties-Med-Reg.otf") format("opentype");
      font-style: normal;
      font-weight: normal;
    }
    @font-face {
      font-family: "Fifties Condensed";
      src: url("/fonts/VVDS-Fifties-Cond-Bold.otf") format("opentype");
      font-style: normal;
      font-weight: bold;
    }
    :root {
      --grey-dark: 50, 50, 50; /* Gris oscuro */
      --grey-light: 220, 220, 220; /* Gris claro */
      --description-gradient: linear-gradient(
        45deg,
        rgb(var(--grey-dark)) 0%,
        /* Gris oscuro */ rgb(var(--grey-light)) 100% /* Gris claro */
      );
    }
    html {
      font-family: "Helvetica", sans-serif;
      scroll-behavior: smooth;
    }
  </style>
</html>
